<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <app-card [cupcake]="cupcake" (deleteCupcake)="delete($event)" *ngFor="let cupcake of cupcakes"></app-card>
  </section>

  <section *ngSwitchCase="'list'">
    <mat-list>
      <mat-list-item (click)="navigate(cupcake)" *ngFor="let cupcake of cupcakes" class="mat-whiteframe-2dp mat-card">
        <h3>cupcake.nom</h3>
      </mat-list-item>
    </mat-list>
  </section>
</section>

  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <i class="material-icons">add</i>
  </button>

