<h2 mat-dialog-title *ngIf="isUpdateMode">Update {{ form.get('nom').value }} {{ form.get('createur').value }}</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Create new cupcake</h2>

<mat-dialog-content>

  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
  <form novalidate [formGroup]="form">

    <p *ngIf="isUpdateMode">
      <span style="width:100%">ID (disabled)</span><br/>
      <span style="width:100%">{{model.id}}</span>
    </p>

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="form.get('nom').dirty && form.get('nom').invalid">
            <input matInput placeholder="Nom du Cupcake" formControlName="nom" minlength="2" required name="nom" />
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('required')">
              Le nom du Cupcake est <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('minlength')">
              Le nom du Cupcake est <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Createur" formControlName="createur" minlength="2" required name="createur" />
            <mat-error *ngIf="form.get('createur').dirty && form.get('createur').hasError('required')">
              Createur est <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('createur').dirty && form.get('createur').hasError('minlength')">
              Createur est <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p formGroupName="composition">
      <mat-form-field class="full-width">
        <mat-select placeholder="Pate" formControlName="Pate" name="Pate">
          <mat-option *ngFor="let pate of pates" [id]="pate.id">
            {{pate.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p formGroupName="composition">
      <mat-form-field class="full-width">
        <mat-select placeholder="Glaçage" formControlName="Glaçage" name="Glaçage">
          <mat-option *ngFor="let glacage of glacages" [id]="glacage.id">
            {{glacage.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p formGroupName="composition">
      <mat-form-field class="full-width">
        <mat-select placeholder="Topping" formControlName="Topping" name="Topping">
          <mat-option *ngFor="let topping of toppings" [id]="topping.id">
            {{topping.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p formGroupName="composition">
      <mat-form-field class="full-width">
        <mat-select placeholder="Garniture" formControlName="Garniture" name="Garniture">
          <mat-option *ngFor="let garniture of garnitures" [id]="garniture.id">
            {{garniture.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>


  </form></mat-grid-tile>
    <mat-grid-tile>
      <div >
        <img class="cupcake" name="pate" src="../../../assets/res/Bases/base_barbe_a_papa.png">
        <img class="cupcake" name="glacage" src="../../../assets/res/Cremes/creme_pomme.png">
        <img class="cupcake" name="topping" src="../../../assets/res/Topping/coeurs.png">
        <img class="cupcake" name="garniture" src="../../../assets/res/Garnitures/cerise.png">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
