<h2 mat-dialog-title *ngIf="isUpdateMode">Update {{ form.get('nom').value }} crée par {{ form.get('createur').value }}</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Création d'un nouveau cupcake !</h2>

  <form novalidate [formGroup]="form">

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="form.get('nom').dirty && form.get('nom').invalid">
            <input matInput placeholder="Nom du Cupcake" formControlName="nom" minlength="2" required name="nom" />
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('required')">
              Le nom du Cupcake est <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('minlength')">
              Le nom du Cupcake est <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Createur" formControlName="createur" minlength="2" required name="createur" />
            <mat-error *ngIf="form.get('createur').dirty && form.get('createur').hasError('required')">
              Createur est <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('createur').dirty && form.get('createur').hasError('minlength')">
              Createur est <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
<h4>Composition</h4>
<mat-form-field>
  <mat-select placeholder="{{ model.composition.base.label }}" [(ngModel)]="model.composition.base" name="bases">
    <mat-option *ngFor="let base of bases" [value]="base">{{base.label}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="{{ model.composition.glacage.label }}" [(ngModel)]="model.composition.glacage" name="glacages">
    <mat-option *ngFor="let glacage of glacages" [value]="glacage">{{glacage.label}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="{{ model.composition.topping.label }}" [(ngModel)]="model.composition.topping" name="toppings">
    <mat-option *ngFor="let topping of toppings" [value]="topping">{{topping.label}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="{{ model.composition.garniture.label }}" [(ngModel)]="model.composition.garniture" name="garnitures">
    <mat-option *ngFor="let garniture of garnitures" [value]="garniture">{{garniture.label}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(model)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
<form>

</form>


<img class="cupcake" src="../../../assets/res/Bases/{{ model.composition.base.src }}">
<img class="cupcake" src="../../../assets/res/Glacages/{{ model.composition.glacage.src }}">
<img class="cupcake" src="../../../assets/res/Topping/{{ model.composition.topping.src }}">
<img class="cupcake" src="../../../assets/res/Garnitures/{{ model.composition.garniture.src }}">

