<mat-card class="mat-whiteframe-2dp">
  <mat-card-content>
  <mat-card-title-group>
    <img mat-card-md-image src="{{ cupcake.photo }}">
    <mat-card-title>
      <a [routerLink]="['/cupcake', cupcake.id]">
        <span>{{ cupcake.name }}</span>
      </a>
    </mat-card-title>
    <mat-card-subtitle class="contact-info">
      <span>{{ cupcake.createur }}</span>
    </mat-card-subtitle>

  </mat-card-title-group>
    <div class="buttons-info">
      <a mat-button title="Edit" [routerLink]="['/edit', cupcake.id]">
        <mat-icon svgIcon="icon-edit"></mat-icon>
      </a>
      <button mat-button title="Delete" (click)="delete(cupcake)">
        <mat-icon svgIcon="icon-delete"></mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
